{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
    <br>
    <p><strong>{% trans "Name:" %}</strong> <a href="">{{ author.first_name }} {{ author.last_name }}</a></p> <!-- author detail linknot yet defined -->
    <p><strong>{% trans "Birth:" %}</strong> {{ author.date_of_birth }}</p>
    {% if author.date_of_death %}
        <p><strong>{% trans "Death:" %}</strong> {{ author.date_of_death }}</p>
    {% endif %}
    <div style="margin-left:20px;margin-top:20px">
        <h4>{% trans "List Books" %}</h4>
        {% for copy in author.get_list_books %}
            <hr>
            <p><a href="">{{ copy.title }}</a> ({{ copy.summary }})</p>
        {% endfor %}
    </div>
{% endblock %}
